<div data-sly-resource="${'breadcrumb' @ resourceType='gskwebplatform/components/content/sensodyne/breadcrumb'}"></div>
<div data-sly-resource="${'product-detail' @ resourceType='gskwebplatform/components/content/sensodyne/productDetail'}"></div>
<div data-sly-resource="${'tab-menu' @ resourceType='gskwebplatform/components/content/sensodyne/tabMenu'}"></div>

<div data-sly-resource="${'teaser' @ resourceType='gskwebplatform/components/content/sensodyne/teaser'}"></div>
<div data-sly-resource="${'video' @ resourceType='gskwebplatform/components/content/sensodyne/video'}"></div>
<div data-sly-resource="${'reviewSummary' @ resourceType='gskwebplatform/components/content/sensodyne/reviewSummary'}"></div>
<div data-sly-resource="${'pageListing' @ resourceType='gskwebplatform/components/content/sensodyne/pageListing'}"></div>

<section class="adv-section">
	<div class="adv-banner">
		<div data-sly-resource="${'miniBanner1' @ resourceType='gskwebplatform/components/content/sensodyne/miniBanner'}"></div>
		<div data-sly-resource="${'miniBanner2' @ resourceType='gskwebplatform/components/content/sensodyne/miniBanner'}"></div>
    </div>
</section>

<div data-sly-resource="${'section-par' @ resourceType='wcm/foundation/components/parsys'}"></div>

